@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 align="center"> Simple Department Application</h1>
   
</div>

<div class="row">

    <a href="http://localhost:1310/Student/Create"><h2><p align="center">Student</p></h2></a>

    <a href="http://localhost:1310/Section/Create"><h2><p align="center">Section</p></h2></a>

    <a href="http://localhost:1310/Department/Create"><h2><p align="center">Department</p></h2></a>

</div>